[Unit]
Description=Prometheus Alert Manager service

[Service]
Type=simple
User=prometheus
ExecStart=/Alertmanager/alertmanager-0.13.0.linux-amd64/alertmanager -config.file /Prometheus/alertmanager_config.yml
Restart=always

[Install]
WantedBy=default.target

