[Unit]
Description=Node Exporter

[Service]
User=node_exporter
Group=node_exporter
ExecStart=/Node/node_exporter
Restart=always

[Install]
WantedBy=default.target
                            
